body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Averta', 'AvertaBold',
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Averta';
  src: local('Averta'),
    url('../src/fonts/Averta-Regular.otf') format('truetype');
}
@font-face {
  font-family: 'AvertaBold';
  src: local('AvertaBold'),
    url('../src/fonts/Averta-ExtraBoldItalic.otf') format('truetype');
}
